<%= javascript_include_tag 'pixastic.custom' %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pony.name %>
</p>

<div id="modifyMyPony">
	<img src="<%= asset_path "ponies/pony_2.png" %>" id="realPony" />
  <%= image_tag(@pony.picture_url, :width => 300, :id => 'myPonyFace') if @pony.picture.present? %>
</div>

<%= link_to 'Edit', edit_pony_path(@pony) %> |
<%= link_to 'Back', ponies_path %>

<div class="optionsAjustColors">

	<div>
		Red: <input type="text" id="value-red" value="0" />
	</div>
	<div id="slider-red" class="ui-slider" style="width:150px;margin-top:5px;margin-bottom:5px;">
		<a href="#" style="outline:none;border:none;">
			<div class="ui-slider-handle" style="left: 57px;"></div>
		</a>
		<div class="ui-slider-range"></div>
	</div>

	<div>
		Green:
		<input type="text" id="value-green" value="0" />
	</div>
	<div id="slider-green" class="ui-slider" style="width:150px;margin-top:5px;margin-bottom:5px;">
		<a href="#" style="outline:none;border:none;">
			<div class="ui-slider-handle" style="left: 69px;"></div>
		</a>
		<div class="ui-slider-range"></div>
	</div>

	<div>
		Blue:
		<input type="text" id="value-blue" value="0" />
	</div>
	<div id="slider-blue" class="ui-slider" style="width:150px;margin-top:5px;margin-bottom:5px;">
		<a href="#" style="outline:none;border:none;">
			<div class="ui-slider-handle" style="left: 69px;"></div>
		</a>
		<div class="ui-slider-range"></div>
	</div>

	<input type="button" onclick="ajustColors();" value="Adjust colors" />
	<input type="button" onclick="resetColors();" value="Reset"><br>
</div>

<!--<div id="createPony">

	<img src="<%= asset_path "ponies/pony_2.png"%>" />

</div>-->



<script type="text/javascript">

	function ajustColors() {

		$("#myPonyFace").pixastic("coloradjust", {
			red: $('#value-red').val(),
			blue: $('#value-blue').val(),
			green: $('#value-green').val(),
		});

	}

	$(document).ready(function(e) {

		$("#slider-red").slider({
			slide: function() {
				$("#value-red").val((($("#slider-red").slider("value") / 100 * 2) - 1).toFixed(2));
				}, value : 50
		}).slider("moveTo", 75);
		$("#slider-green").slider({
				slide: function() {
					$("#value-green").val((($("#slider-green").slider("value") / 100 * 2) - 1).toFixed(2));
				}, value : 50
		}).slider("moveTo", 50);
		$("#slider-blue").slider({
				slide: function() {
					$("#value-blue").val((($("#slider-blue").slider("value") / 100 * 2) - 1).toFixed(2));
				}, value : 50
		}).slider("moveTo", 50);

		$(function() {

			var $img = $("#realPony");
			var imgPos = $img.offset();
			console.log(imgPos);

		    $( "#myPonyFace" ).draggable({ containment: 'parent' });
		    $( "#myPonyFace" ).resizeable();
		    // $( "#droppable" ).droppable({
		    //   drop: function( event, ui ) {
		    //     $( this )
		    //       .addClass( "ui-state-highlight" )
		    //       .find( "p" )
		    //         .html( "Dropped!" );
		    //   }
		    // });
		  });

	});

--></script>
